    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 10px;
            background-color: white;
            border: 10px solid violet
        }

        .text-box {
            display: flex;
            flex-direction: row;
        }

        .texto {
            margin: 0;
            padding-left: 10px;
            color: #ff0084
           
        }

        .imagem {
            width: 10%;
            padding-left: 0%;
        }
    </style>